comet==3.1.0
datasets==2.20.0
GlotScript==1.2
iso639-lang==2.6.0
matplotlib==3.10.1
pandas==2.2.3
Requests==2.32.3
rouge_score==0.1.2
sacrebleu==2.4.3
torch==2.6.0
tqdm==4.66.5
transformers==4.50.3
vllm==0.8.2
